<html>
    <head>
        <title>Junior StackOverFlow</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/stack.css">

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="servicestack icon"></i>JR StackOverflow</div>
                <a href="/dash" class="item">Dashboard</a>
                <a href="/dash/new" class="item">New Post</a>

            </div>

        </div>
